<!-- Creates a table of favorite mailboxes saved corresponding addresses, and the location query in which mailbox was returned  -->
<center>
<table class="table">
    <thead>
          <tr>
              <th>Mailbox location</th>
              <th>Nearby reference</th>
              <th></th>
          </tr>
      </thead>

      <tbody>
            <tr>
                  <% @favorites.each do |mailbox| %>
                <td><%= Mailbox.find(mailbox.mailbox_id).address %></td>
                <td><%= mailbox.address_searched.upcase %></td>


                  <% if user_signed_in? %>
                      <td> <%= button_to "Remove", favorite_path(mailbox), method: :delete, data: {confirm: "Are you sure you want to delete this mailbox from your favorites?"}%></td>
                    <% end %>
            </tr>
                  <% end %>
      </tbody>
</table>
</center>