<!-- if you can see this, the merge worked! -->
<center>
    <div>
            <h1>Bluebox Finder</h1>
            <h5>The Manhattan Beta Edition</h5>
                <br></br>
            <h2>Locate USPS mailboxes near you.</h2>
    </div>
</center>

                  <br></br>
<center>

      <div>
                <!-- Search fiield for search address -->
                <%= form_tag search_mailboxes_path, method: :get do %>
                <%= text_field_tag 'search' , nil, placeholder: ' Enter an address' %>
                 <%= submit_tag "Search!" %>
                <% end %>
          </div>
</center>
          <br></br>
<center>
    <div>
        <% if user_signed_in? %>
            <%= link_to "GO TO MY FAVORITES", favorites_path(user_id:current_user) %>
        <% end %>
    </div>
</center>
