<h1> On search.html.erb </h1>

<div>
  <!-- Finds mailboxes within a **20 mi ** radius of the search query,
  (@query) .Results  are auto-sorted by Geocode gem based increasing distance from search-->

<!-- Empty search query gets geocoded based on user's IP address, aka current location-->

<dl>
<% if @query.empty? %>
          <% Mailbox.near(@user, 20).each do |m| %>
           <dt> <%= m.address %></dt>
          <dd> <%= m.distance_from(@query).round(2) %> mi.</dd>
          <% end %>

        <%  else  %>

        <% Mailbox.near(@query, 20).each do |m| %>
       <dt><%= m.address %></dt>
       <dd><%= m.distance_from(@query).round(2) %> mi.</dd>
          <% end %>

<% end %>
</dl>



